* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width:  100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    display: flex;
    color: #030b5ee4;
    justify-content: center;
    align-items: center;
}

header, footer {
    background-color: #030b5ee4;
    height: 10%;
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contatos, #titulo-contato {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
}

footer ul {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

ul li a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}

nav ul {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

ul li {
    list-style-type: none;
}

main {
    width: 100%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#sobre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.txt-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.txt-main h1 {
    font-size: 50px;
}

.txt-main h2 {
    font-size: 30px;
}

.txt-main p {
    font-size: larger;
    width: 70%;
}

.img-btn-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-btn-main img {
    border-radius: 50%;
    width: 200px;
    margin: 10px;
}

.img-btn-main button {
    background-color: #030b5ee4;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    width: 300px;
    height: 70px;
}

.img-btn-main button a {
    text-decoration: none;
    color: white;
}

.img-btn-main button:hover {
    box-shadow: 0 0 8px #030b5ee4;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 16px;
}

#skills ul {
    padding: 12px;
}

#skills li {
    font-size: large;
}

#skills h3 {
    font-size: 30px;
    margin: 8px;
}

























/* html, body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "hearder-container"
    "main-container"
    "footer-container";
}

.header-container {
    grid-area: header-container;
    grid-column: 1;
    grid-row: 1 / 2;
}

.main-container {
    grid-area: main-container;
    grid-column: 1;
    grid-row: 2 / 4;
}

.footer-container {
    grid-area: footer-container;
    grid-column: 1;
    grid-row: 5 / 5;
} */
